.ilu {
    li{
        display: block;
        font-size: var(--l);
        padding: var(--s);
        padding-left: var();
        margin-bottom: var(--m);
        color: var(--text);
        background-color: white;
        margin-right: 50px;
    }
    margin-left: -10px;
    margin-right: 42px;
}

.favoriten {

    margin-right: 50px;

    div{
        font-size: var(--l);
        padding: var(--s);
        padding-left: var(--m);
        margin-bottom: var(--s);
        color: var(--text);
        background-color: white;
    }

    address{
        font-size: var(--m);
    }
}

.fav-text-picture{
    display: flex;
    img{
        margin-right: var(--m);
    }
}

.ilu-text-picture{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 10px;
    img{
        margin-right: var(--m);
        margin-left: var(--m);
    }
}

.topbar{
    width: auto;
    background-color: #ffffff;
}


.cards li{
    display: inline-block;
    font-weight: 600;
    font-size: var(--s);
    padding-top: 3px;
    margin: 5px;
    background-color: var(--bg-grey);
}

.cards > *:not(img){
    padding-left: var(--xl);
}

.suche {
    display: flex;
    align-items: center; /* Zentrieren Sie die Elemente vertikal */
    background-color: #ffffff; /* Weißer Hintergrund für die Suchleiste */
    margin-right: 50px;
    margin-left: 42px;
}

.suche h2 {
    margin-right: 150px; /* Abstand zwischen h2 und img */
    padding-left: 10px;
    margin: 10px;
    font-weight: 50;
    color: #0000006b;

}

.suche img {
    max-width: 100%;
    scale: 1.1;
    color: #0000006b;
}

.zeug{
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px;
    a{
        color: #ffffff;
        padding: 15px;
        font-size: var(--l);
        text-decoration: none;
        margin: var(--3xl);
    }

    h3{
        padding-top: 20px;
        font-size: var(--xl);
    }
}